<button [routerLink]="['/principal',3]" routerLinkActive="router-link-active">PRINCIPAL</button>


<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="btn-group mr-2 mb-2">

                <button class="btn btn-primary dropdown-toggle" id="dp-categorias" data-toggle="dropdown">Categorias</button>

                <div class="dropdown-menu" aria-labelledby="dp-categorias">
                    <h6 class='dropdown-header'>Categorias</h6>
                    <a href="" class='dropdown-item'>HTML</a>
                    <a href="" class='dropdown-item'>CSS</a>
                    <a href="" class='dropdown-item'>JS</a>
                    <div class="dropdown-divider"></div>
                    <a href="" class='dropdown-item'>Bootstrap</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="btn-group mr-2 mb-2">
                <button class="btn btn-primary">Categorias</button>
                <button class='btn btn-primary dropdown-toggle dropdown-toggle-split' id='dp-categorias' data-toggle="dropdown"></button>

                <div class="dropdown-menu" aria-labelledby="dp-categorias">
                    <h6 class='dropdown-header'>Categorias</h6>
                    <a href="" class='dropdown-item'>HTML<i class="fab fa-html5"></i></a>
                    <a href="" class='dropdown-item'>CSS <i class="fab fa-css3-alt"></i></a>
                    <a href="" class='dropdown-item'>JS <i class="fab fa-js"></i></a>
                    <div class="dropdown-divider"></div>
                    <a href="" class='dropdown-item'>Bootstrap</a>
                </div>
            </div>
        </div>
    </div>
</div>