<button [routerLink]="['/principal',3]" routerLinkActive="router-link-active">PRINCIPAL</button>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-columns">
                <div class="card">
                    <img src="../../assets/img/bg.jpg" class='card-img-top img-fluid' alt="">
                    <div class='card-body'>
                        <h3 class='card-title'>Título 1</h3>
                        <p>Párrafo de prueba</p>
                        <a href="" class='btn btn-primary btn-lg btn-block'>botón</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../../assets/img/bg2.jpg" class='card-img-top img-fluid' alt="">
                    <div class='card-body'>
                        <h3 class='card-title'>Título 2</h3>
                        <p>Párrafo de prueba</p>
                        <a href="" class='btn btn-primary btn-lg btn-block'>botón</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../../assets/img/bg3.jpg" class='card-img-top img-fluid' alt="">
                    <div class='card-body'>
                        <h3 class='card-title'>Título 3</h3>
                        <p>Párrafo de prueba</p>
                        <a href="" class='btn btn-primary btn-lg btn-block'>botón</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../../assets/img/bg4.jpg" class='card-img-top img-fluid' alt="">
                    <div class='card-body'>
                        <h3 class='card-title'>Título 4</h3>
                        <p>Párrafo de prueba</p>
                        <a href="" class='btn btn-primary btn-lg btn-block'>botón</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../../assets/img/bg5.jpg" class='card-img-top img-fluid' alt="">
                    <div class='card-body'>
                        <h3 class='card-title'>Título 5</h3>
                        <p>Párrafo de prueba</p>
                        <a href="" class='btn btn-primary btn-lg btn-block'>botón</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../../assets/img/bg6.jpg" class='card-img-top img-fluid' alt="">
                    <div class='card-body'>
                        <h3 class='card-title'>Título 6</h3>
                        <p>Párrafo de prueba</p>
                        <a href="" class='btn btn-primary btn-lg btn-block'>botón</a>
                    </div>
                </div>
                <div class="card bg-success text-white">
                    <div class='card-body'>
                        <h3 class='card-title'>Título 7</h3>
                        <p>Párrafo de prueba</p>
                        <a href="" class='btn btn-light btn-lg btn-block'>botón</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>