<button [routerLink]="['/principal',3]" routerLinkActive="router-link-active">PRINCIPAL</button>

<div class="container">
    <div class="row mt-3">
        <div class="col-6">
            <div class='card'>
                <div class="card-header">MI HEADER</div>
                <img class='card-img-top img-fluid' src="https://picsum.photos/200/100" alt="">
                <div class='card-body'>
                    <h4 class='mb-3 text-center card-title'>
                        MI CARD
                    </h4>
                    <p class='card-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quo dolore exercitationem facere ea excepturi, deserunt, quaerat nihil quis at aut ad dolorum sapiente sit adipisci dolorem iste aperiam! Dolore?</p>
                    <a class='card-link' href="">viajaconnosotros.com</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class='card'>
                <img class='card-img-top img-fluid' src="https://picsum.photos/200/100" alt="">
                <div class='card-body'>
                    <h4 class='mb-3 text-center card-title'>
                        MI CARD
                    </h4>
                    <p class='card-subtitle text-muted mb-2'>subtítulo</p>
                    <p class='card-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quo dolore exercitationem facere ea excepturi, deserunt, quaerat nihil quis at aut ad dolorum sapiente sit adipisci dolorem iste aperiam! Dolore?
                    </p>
                    <div class='row'>
                        <div class='col-6 text-left'>
                            <button class='btn btn-dark'>IR</button>
                        </div>
                        <div class='col-6 text-right'>
                            <button class='btn btn-dark'>SIMILITUDES</button>
                        </div>
                    </div>
                    <div class="card-footer">mi footer</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            <div class="card bg-success">
                <div class="card body bg-info">
                    <div class="card-title text-white text-center">
                        TITLE
                    </div>
                    <div class="card-text text-white">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis reiciendis eum necessitatibus. Quis eius cumque officiis excepturi voluptatum, a culpa eos quaerat sapiente sequi dolore officia molestias sed! Reiciendis, eos.</p>
                    </div>
                    <button class="btn btn-primary">BOTON</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card-group">
                <div class="card">
                    <img class='card-img-top img-fluid' src="https://picsum.photos/200/100" alt="">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum optio, quos rerum excepturi magni possimus fugit ullam eligendi quo non facere dolorum illum eveniet ea doloremque! Fuga natus sequi repellat?</p>
                    </div>
                </div>
                <div class="card">
                    <img class='card-img-top img-fluid' src="https://picsum.photos/200/100" alt="">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quae dolore fugiat officiis iusto impedit vero eos a nam architecto, doloremque, voluptatem minus voluptas quidem. Cumque eveniet quasi delectus natus!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>