<div class="container">
    <div class="row">
        <div class="col-12 mb-5">
            <button [routerLink]="['/principal',4]" routerLinkActive="router-link-active">PRINCIPAL</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="">
                <h2>Checkbox personalizado</h2>
                <hr>
                <div class="custom-control custom-checkbox">
                    <input class='custom-control-input' type="checkbox" name="" id="checkbox-personalizado1">
                    <label for="checkbox-personalizado1" class='custom-control-label'>Acepto los términos y condiciones</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class='custom-control-input' type="checkbox" name="" id="checkbox-personalizado2">
                    <label for="checkbox-personalizado2" class='custom-control-label'>Acepto las políticas</label>
                </div>
            </form>
        </div>
        <div class="col-12">
            <form action="">
                <h2>Radio-button personalizado</h2>
                <hr>
                <div class="custom-control custom-radio">
                    <input class='custom-control-input' type="radio" name="sexo" id="radio-personalizado1">
                    <label for="radio-personalizado1" class='custom-control-label'>Mujer</label>
                </div>
                <div class="custom-control custom-radio">
                    <input class='custom-control-input' type="radio" name="sexo" id="radio-personalizado2">
                    <label for="radio-personalizado2" class='custom-control-label'>Hombre</label>
                </div>
            </form>
        </div>
        <div class="col-12">
            <form action="">
                <h2>Select personalizado</h2>
                <select class='custom-select' name="" id="">
                  <option value="">Option1</option>
                  <option value="">Option2</option>
                  <option value="">Option3</option>
                  <option value="">Option4</option>
                </select>
            </form>
        </div>
    </div>
    <div class='row'>
        <div class="col">
            <h2>Tamaños inputs</h2>
            <form action="">
                <div class="form-group">
                    <label for="nombre1">Nombre</label>
                    <input type='text' class='form-control-sm' name='nombre' id='nombre1' placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="nombre2">Nombre</label>
                    <input type='text' class='form-control' name='nombre' id='nombre2' placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="nombre3">Nombre</label>
                    <input type='text' class='form-control-lg' name='nombre' id='nombre3' placeholder="Name">
                </div>
            </form>
            <h2>Read-only & disabled</h2>
            <form action="">
                <div class="form-group">
                    <label for="nombre1">Read only</label>
                    <input type='text' class='form-control' name='nombre' id='nombre1' placeholder="Name" readonly>
                </div>
                <div class="form-group">
                    <label for="nombre2">Disabled</label>
                    <input type='text' class='form-control' name='nombre' id='nombre2' placeholder="Name" disabled>
                </div>
                <div class="form-group">
                    <select class='custom-select' name="" id="" disabled>
                    <option value="">Option1</option>
                    <option value="">Option2</option>
                    <option value="">Option3</option>
                    <option value="">Option4</option>
                  </select>
                </div>
            </form>
        </div>
    </div>
</div>