<button [routerLink]="['/principal',1]" routerLinkActive="router-link-active">PRINCIPAL</button>

<div class='container'>
    <div class='row justify-content-between'>
        <!--Cambiará el orden según se vaya cambiando el tamaño del dispositivo-->
        <div class='col-2 columna order-2 order-md-1'>Col1</div>
        <div class='col-2 columna order-1 order-md-2'>Col2</div>
        <div class='col-2 columna order-4 order-md-3'>Col3</div>
        <div class='col-2 columna order-3 order-md-4'>Col4</div>
    </div>
</div>