<button [routerLink]="['/principal',1]" routerLinkActive="router-link-active">PRINCIPAL</button>

<div class='container'>
    <header class='row'>
        <div class='col'>
            <h3>HEADER</h3>
        </div>
    </header>
    <section class='container-main row'>
        <main class='col-md-8 columna'>
            <h2>MAIN</h2>
            <p>Lorem ipsun</p>
        </main>
        <aside class='col-md-4 align-self-center'>
            <h3>ASIDE</h3>
        </aside>
    </section>
    <section class='row widgets justify-content-around'>
        <div class='col-4 col-md-3 col-lg-2 columna'>
            <p>Lorem ipsummmmmm</p>
        </div>
        <div class='col-4 col-md-3 col-lg-2 columna '>
            <p>Lorem ipsummmmmm</p>
        </div>
        <div class='col-4 col-md-3 col-lg-2 columna'>
            <p>Lorem ipsummmmmm</p>
        </div>
    </section>
    <footer class='row'>
        <div class='col'>
            <p>Created by FRJMA</p>
        </div>
    </footer>
</div>