<button [routerLink]="['/principal',2]" routerLinkActive="router-link-active">PRINCIPAL</button>

<div class='container-fluid'>
    <div class='row'>
        <div class="col-12">
            <h1>Encabezado H1 <small class='text-muted'>TEXTO SECUNDARIO</small></h1>
            <h2>Encabezado H2 <small class='text-muted'>TEXTO SECUNDARIO</small></h2>
            <h3>Encabezado H3 <small class='text-muted'>TEXTO SECUNDARIO</small></h3>
            <h4>Encabezado H4 <small class='text-muted'>TEXTO SECUNDARIO</small></h4>
            <h5>Encabezado H5 <small class='text-muted'>TEXTO SECUNDARIO</small></h5>
            <h6>Encabezado H6 <small class='text-muted'>TEXTO SECUNDARIO</small></h6>
        </div>
        <div class='col-12'>
            <hr>
            <p class='h1'>Párrafo con estilo de encabezado 1</p>
            <p class='h2'>Párrafo con estilo de encabezado 2</p>
            <p class='h3'>Párrafo con estilo de encabezado 3</p>
            <p class='h4'>Párrafo con estilo de encabezado 4</p>
            <p class='h5'>Párrafo con estilo de encabezado 5</p>
            <p class='h6'>Párrafo con estilo de encabezado 6</p>
        </div>
        <div class='col-12'>
            <hr>
            <p class="lead">Párrafo1</p>
            <p>Párrafo2</p>
            <p>Párrafo3</p>
        </div>
        <div class="col-12">
            <hr>
            <p>Lorem ipsum <mark>dolor</mark>sit amet consectetur, adipisicing elit. Natus voluptates illo sapiente recusandae, error odio. Mollitia ad dolor excepturi aperiam ducimus, quam dolorum impedit eius quae tempore qui adipisci explicabo?</p>
            <p><del>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus voluptates illo sapiente recusandae, error odio. Mollitia ad dolor excepturi aperiam ducimus, quam dolorum impedit eius quae tempore qui adipisci explicabo?</del></p>
            <p><s>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus voluptates illo sapiente recusandae</s>, error odio.</p>
            <p><ins>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</ins> Natus voluptates illo sapiente recusandae, error odio.</p>
            <p><strong>Lorem ipsum dolor sit amet consectetur,</strong> adipisicing elit. Natus voluptates illo sapiente recusandae, error odio.</p>
            <p><small>Lorem ipsum dolor sit amet consectetur,</small> adipisicing elit. Natus voluptates illo sapiente recusandae, error odio. </p>
            <p><em>Lorem ipsum dolor sit amet consectetur,</em> adipisicing elit. Natus voluptates illo sapiente recusandae, error odio. </p>
        </div>
        <div class='col-4'>
            <hr>
            <p class='text-justify'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, quaerat. Labore, corporis distinctio dolorem in et molestias excepturi natus atque repellendus quia aliquam nesciunt voluptatem porro tempore rem. Suscipit, neque.</p>
            <div class='card'>
                <div class='card-body'>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas ducimus, doloribus reiciendis culpa minima neque debitis eveniet molestiae natus sed, inventore quibusdam repellat accusamus quasi repellendus rem consectetur qui corporis.</p>
                </div>
            </div>
        </div>
        <div class='w-100'></div>
        <div class='col-4'>
            <hr>
            <p class='text-left'>Texto alineado a la izquierda</p>
            <p class='text-center'>Texto alineado al centro</p>
            <p class='text-right'>Texto alineado a la derecha</p>
        </div>
        <div class='w-100'></div>
        <div class='col-12 col-md-8'>
            <hr>
            <p class='text-left text-sm-right'>Alineado en dispositivos pequeños a la derecha en adelante</p>
            <p class='text-left text-md-right'>Alineado en dispositivos medianos a la derecha en adelante</p>
            <p class='text-left text-lg-right'>Alineado en dispositivos large a la derecha en adelante</p>
            <p class='text-left text-xl-right'>Alineado en dispositivos extralarge a la derecha en adelante</p>
        </div>
        <div class='w-100'></div>
        <div class='col-4'>
            <hr>
            <p class='text-lowercase font-weight-bold'>minúsculas - lorem ipsum</p>
            <p class='text-uppercase font-italic'>mayúsculas - lorem ipsum</p>
            <p class='text-capitalize font-weight-normal'>letrasCapitales - lorem ipsum</p>
        </div>
        <div class='w-100'></div>
        <div class='col-4'>
            <hr>
            <blockquote class='blockquote '>
                <p class='mb-0'>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <footer class='blockquote-footer'>
                    <p>FRJMA</p>
                </footer>
            </blockquote>
        </div>
    </div>
</div>