<div class="container">
    <div class="row">
        <div class="col-12 mb-5">
            <button [routerLink]="['/principal',5]" routerLinkActive="router-link-active">PRINCIPAL</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <h3>Menu con ul</h3>
            <hr>
            <ul class='nav mi-nav bg-dark'>
                <div class="col-3">
                    <li class='nav-item '>
                        <a class='nav-link text-center' href="">Inicio</a>
                    </li>
                </div>
                <div class="col-3">
                    <li class='nav-item'>
                        <a class='nav-link text-center' href="">Mantenimiento</a>
                    </li>
                </div>
                <div class="col-3">
                    <li class='nav-item'>
                        <a class='nav-link text-center' href="">Proyectos</a>
                    </li>
                </div>
                <div class="col-3 ">
                    <li class='nav-item'>
                        <a class='nav-link text-center' href="">Perfil</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 mt-4">
            <h3>Menu con estilos CSS</h3>
            <hr>
            <ul class='nav mi-nav bg-dark'>
                <li class='nav-item'>
                    <a class='nav-link' href="">Inicio</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href="">Mantenimiento</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href="">Proyectos</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href="">Perfil</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h3>Menú con NAV</h3>
            <hr>
            <nav class='nav mi-nav bg-dark'>
                <div class="col-3">
                    <a class='nav-link text-center' href="">Inicio</a>
                </div>
                <div class="col-3">
                    <a class='nav-link text-center' href="">Mantenimiento</a>
                </div>
                <div class="col-3">
                    <a class='nav-link text-center' href="">Proyectos</a>
                </div>
                <div class="col-3 ">
                    <a class='nav-link text-center' href="">Perfil</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h3>Menú vertical</h3>
            <hr>
            <nav class='nav mi-nav bg-dark flex-column'>
                <div class="col-3">
                    <a class='nav-link text-center' href="">Inicio</a>
                </div>
                <div class="col-3">
                    <a class='nav-link text-center' href="">Mantenimiento</a>
                </div>
                <div class="col-3">
                    <a class='nav-link text-center' href="">Proyectos</a>
                </div>
                <div class="col-3 ">
                    <a class='nav-link text-center' href="">Perfil</a>
                </div>
            </nav>
        </div>
    </div>
</div>