<div class="container">
    <div class="row">
        <div class="col-12 mb-5">
            <button [routerLink]="['/principal',5]" routerLinkActive="router-link-active">PRINCIPAL</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Barra de progreso</h3>
            <hr>
            <div class="progress mb-3" style="height:30px">
                <div class="progress-bar" role='progressbar' style='width:0%'>0</div>
            </div>
            <div class="progress mb-3" style="height:20px">
                <div class="progress-bar" role='progressbar' style='width:50%'>0</div>
            </div>
            <div class="progress mb-3" style="height:10px">
                <div class="progress-bar progress-bar-striped" role='progressbar' style='width:100%'>0</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>