<div class="container">
    <div class="row">
        <div class="col-12 mb-5">
            <button [routerLink]="['/principal',5]" routerLinkActive="router-link-active">PRINCIPAL</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Popovers</h2>
            <hr>
            <button #myButton class='btn btn-primary' data-container='body' data-placement='top' data-toggle='popover' title='titulo-popover' data-content='lorem ipsum'>Arriba</button>
        </div>
    </div>
</div>