<button [routerLink]="['/principal',2]" routerLinkActive="router-link-active">PRINCIPAL</button>

<div class="container">
    <div class='row justify-content-center'>
        <div class='col-6 comentarios'>
            <h1>Caja de comentarios</h1>
            <hr>
            <form action="" class='form-comentarios d-flex justify-content-end flex-wrap'>
                <textarea name="" id="" placeholder="Comentario"></textarea>
                <button class='btn'>Comentar</button>
            </form>
            <div class='media'>
                <hr>
                <img src="https://picsum.photos/64/64" class='d-flex align-self-start mr-3' alt="">
                <div class=media-body>
                    <h4 class='mt-0'>Encabezado</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis, dolorem eos ad repudiandae cum amet voluptas exercitationem aut molestiae, blanditiis saepe quibusdam. Eaque doloremque est, ad molestiae doloribus magni?</p>
                    <hr>
                    <div class='media'>
                        <img src="https://picsum.photos/64/64" class='d-flex align-self-start mr-3' alt="">
                        <div class=media-body>
                            <h5 class='mt-0'>Comentario 1</h5>
                            <p class='nombre'>John Doe <span>17:02</span></p>
                            <p class='comentario'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis, dolorem eos ad repudiandae cum amet voluptas exercitationem aut molestiae, blanditiis saepe quibusdam. Eaque doloremque est, ad molestiae doloribus
                                magni?
                            </p>
                            <div class='botones text-left'>
                                <a href="">Responder</a>
                                <a href="">Editar</a>
                                <a href="">Borrar</a>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class='media'>
                        <div class=media-body>
                            <h5 class='mt-0 text-right'>Comentario 2</h5>
                            <p class='nombre text-right'>Amy Fallon <span>17:03</span></p>
                            <p class='comentario'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis, dolorem eos ad repudiandae cum amet voluptas exercitationem aut molestiae, blanditiis saepe quibusdam. Eaque doloremque est, ad molestiae doloribus
                                magni?
                            </p>
                            <div class='botones text-right'>
                                <a href="">Responder</a>
                                <a href="">Editar</a>
                                <a href="">Borrar</a>
                            </div>
                            <hr>
                        </div>
                        <img src="https://picsum.photos/64/64" class='d-flex align-self-start ml-3' alt="">
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>