<button [routerLink]="['/principal',2]" routerLinkActive="router-link-active">PRINCIPAL</button>

<!--Eliminamos y agregamos elementos según el tamaño de la pantalla-->
<div class='container'>
    <div class='row'>
        <div class='col columna d-block d-sm-none'>XS</div>
        <div class='col columna d-none d-sm-block d-md-none'>S</div>
        <div class='col columna d-none d-md-block d-lg-none'>M</div>
        <div class='col columna d-none d-lg-block d-xl-none'>L</div>
        <div class='col columna d-none d-xl-block'>XL</div>
    </div>

</div>