<div class="jumbotron">
    <div class="center container">
        <h1 class='display-1 mb-4 '>MI JUMBOTRON</h1>
        <P class='lead'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo illum nulla ipsum nesciunt cumque, tempora harum error obcaecati, magnam omnis sunt consequatur dolores rem modi quas doloremque molestiae expedita officia?
        </P>
        <a href="" class='btn btn-light btn-lg'>Leer más</a>
        <a href="" class='btn btn-light btn-lg'>Comprar</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mb-5">
            <button [routerLink]="['/principal',5]" routerLinkActive="router-link-active">PRINCIPAL</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class='display-1 mb-4 text-center'>MI JUMBOTRON</h1>
                <P class='lead'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo illum nulla ipsum nesciunt cumque, tempora harum error obcaecati, magnam omnis sunt consequatur dolores rem modi quas doloremque molestiae expedita officia?</P>
                <a href="" class='btn btn-dark btn-lg '>Leer más</a>
                <a href="" class='btn btn-dark btn-lg '>Comprar</a>
            </div>
        </div>
    </div>
</div>