<div class='container' *ngIf="pagina === 1">

    <div class='title'>
        <h3>PRIMERA SECCIÓN</h3>
    </div>
    <div class='row justify-content-center'>
        <div class='col-6'>
            <div class='row '>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/columnasAlineadas" routerLinkActive="router-link-active">Columnas Alineadas</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/offSetting" routerLinkActive="router-link-active">OffSetting</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/reordenamientoColumnas" routerLinkActive="router-link-active">Reordenamiento Columnas</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/columnasAnidadas" routerLinkActive="router-link-active">Columnas Anidadas</button>
                </div>
                <div class='col-12 '>
                    <button class='btn btn-block' routerLink="/practica1" routerLinkActive="router-link-active">Practica1</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='container' *ngIf="pagina === 2">
    <div class='title'>
        <h3>SEGUNDA SECCIÓN</h3>
    </div>
    <div class='row justify-content-center'>
        <div class='col-6'>
            <div class='row '>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/responsiveUtilities" routerLinkActive="router-link-active">Responsive Utilities</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/tipografia" routerLinkActive="router-link-active">Tipografía</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/bloques_codigo" routerLinkActive="router-link-active">Bloques código</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/imagenes" routerLinkActive="router-link-active">Imágenes</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/tablas" routerLinkActive="router-link-active">Tablas</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/media_object" routerLinkActive="router-link-active">Media Object</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/alertas" routerLinkActive="router-link-active">Alertas</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/badges" routerLinkActive="router-link-active">Badges</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='container' *ngIf="pagina === 3">
    <div class='title'>
        <h3>TERCERA SECCIÓN</h3>
    </div>
    <div class='row justify-content-center'>
        <div class='col-6'>
            <div class='row '>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/buttons" routerLinkActive="router-link-active">Buttons</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/cards" routerLinkActive="router-link-active">Cards</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/masonry_cards" routerLinkActive="router-link-active">Masonry cards</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/carrousel" routerLinkActive="router-link-active">Carrousel</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/collapse" routerLinkActive="router-link-active">Collapse</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/dropdown" routerLinkActive="router-link-active">Dropdown</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='container' *ngIf="pagina === 4">
    <div class='title'>
        <h3>CUARTA SECCIÓN</h3>
    </div>
    <div class='row justify-content-center'>
        <div class='col-6'>
            <div class='row '>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/formularios" routerLinkActive="router-link-active">Formularios</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/input_group" routerLinkActive="router-link-active">Input Group</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/formularios_grid" routerLinkActive="router-link-active">Formularios grid</button>
                </div>
                <div class="col-12">
                    <button class='btn btn-block' routerLink="/checkboxes_radiobuttons" routerLinkActive="router-link-active">Checkboxes y radio-buttons</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/formularios_personalizados" routerLinkActive="router-link-active">Formularios personalizados</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/cuadros_ayuda" routerLinkActive="router-link-active">Cuadros de ayuda</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='container' *ngIf="pagina === 5">
    <div class='title'>
        <h3>QUINTA SECCIÓN</h3>
    </div>
    <div class='row justify-content-center'>
        <div class='col-6'>
            <div class='row '>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/jumbotron" routerLinkActive="router-link-active">Jumbotron</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/list_group" routerLinkActive="router-link-active">List-group</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/modals" routerLinkActive="router-link-active">Modals</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/navs" routerLinkActive="router-link-active">Navs</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/tabs" routerLinkActive="router-link-active">Tabs</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/navbar" routerLinkActive="router-link-active">Navbar</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/pagination" routerLinkActive="router-link-active">Pagination</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/popovers" routerLinkActive="router-link-active">Popovers</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/barra_progreso" routerLinkActive="router-link-active">Barras de progreso</button>
                </div>
                <div class='col-12'>
                    <button class='btn btn-block' routerLink="/scrollpsy" routerLinkActive="router-link-active">Scrollpsy</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav>
                <ul class='pagination justify-content-center'>
                    <li class='page-item'>
                        <span (click)='cambiarPagina(-1)' class='page-link' aria-hidden="true">Anterior</span>
                    </li>
                    <li class='page-item'>
                        <a [routerLink]="['/principal',1]" routerLinkActive="router-link-active" class='page-link'>1</a>
                    </li>
                    <li class='page-item'>
                        <a [routerLink]="['/principal',2]" routerLinkActive="router-link-active" class='page-link'>2</a>
                    </li>
                    <li class='page-item'>
                        <a [routerLink]="['/principal',3]" routerLinkActive="router-link-active" class='page-link'>3</a>
                    </li>
                    <li class='page-item'>
                        <a [routerLink]="['/principal',4]" routerLinkActive="router-link-active" class='page-link'>4</a>
                    </li>
                    <li class='page-item'>
                        <a [routerLink]="['/principal',5]" routerLinkActive="router-link-active" class='page-link'>5</a>
                    </li>
                    <li class='page-item'>
                        <a [routerLink]="['/principal',6]" routerLinkActive="router-link-active" class='page-link'>6</a>
                    </li>
                    <li class='page-item'>
                        <span (click)='cambiarPagina(1)' class='page-link' aria-hidden="true">Siguiente</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>