<button [routerLink]="['/principal',2]" routerLinkActive="router-link-active">PRINCIPAL</button>

<div class=container>
    <div class='row'>
        <div class='col'>
            <h2>Bloques de código en linea</h2>
            <p>Lorem ipsum dolor sit, <code>&lt;amet consectetur adipisicing elit&gt;</code> Exercitationem sapiente adipisci nemo. Officiis saepe reiciendis optio suscipit nisi consequuntur quaerat, accusamus incidunt ea dolorem magnam non vitae tempore
                eligendi recusandae?
            </p>
            <hr>
            <h2>Bloques de código</h2>
            <pre>
<code>&lt;h1&gt;lorem ipsum dolorem.&lt;h1&gt;</code>
<code>&lt;p&gt;lorem ipsum dolorem.&lt;p&gt;</code>
</pre>
            <hr>
            <h2>Teclas</h2>
            <p>Para copiar texto presiona <kbd>Ctrl + C</kbd></p>
            <p>Para copiar texto presiona <kbd>Ctrl + V</kbd></p>
        </div>
    </div>
</div>