<button [routerLink]="['/principal',2]" routerLinkActive="router-link-active">PRINCIPAL</button>

<div class="container">
    <div class="row">

        <!--Todos los estilos de tablas se pueden combinar
            Tambien es responsive-->
        <div class="col-12">
            <table class='table table-dark table-responsive'>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                    </tr>
                </thead>

                <tr>
                    <td>Pancho</td>
                    <td>Martínez</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td>Kika</td>
                    <td>Martínez</td>
                    <td>31</td>
                </tr>

            </table>
        </div>
        <div class="col-12">
            <table class='table table-striped'>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                    </tr>
                </thead>

                <tr class='table-success'>
                    <td>Pancho</td>
                    <td>Martínez</td>
                    <td>28</td>
                </tr>
                <tr class='table-active'>
                    <td>Kika</td>
                    <td>Martínez</td>
                    <td>31</td>
                </tr>

            </table>
        </div>
        <div class="col-12">
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                    </tr>
                </thead>

                <tr class='table-danger'>
                    <td>Pancho</td>
                    <td>Martínez</td>
                    <td>28</td>
                </tr>
                <tr class='table-info'>
                    <td>Kika</td>
                    <td>Martínez</td>
                    <td>31</td>
                </tr>
            </table>
        </div>
        <div class="col-12">
            <table class='table table-hover'>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                    </tr>
                </thead>
                <tr>
                    <td>Pancho</td>
                    <td>Martínez</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td>Kika</td>
                    <td>Martínez</td>
                    <td>31</td>
                </tr>
            </table>
        </div>
        <div class="col-12">
            <table class='table table-sm'>
                <thead>
                    <tr class='bg-info'>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                    </tr>
                </thead>
                <tr>
                    <td>Pancho</td>
                    <td>Martínez</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td>Kika</td>
                    <td>Martínez</td>
                    <td>31</td>
                </tr>
            </table>
        </div>
    </div>
</div>