<button [routerLink]="['/principal',3]" routerLinkActive="router-link-active">PRINCIPAL</button>

<div class="container">
    <div class="row pt-3">
        <div class="col-6">
            <h2>Botones</h2>
            <button type='button' class='btn btn-primary'>Primary</button>
            <button type='button' class='btn btn-secondary'>Secondary</button>
            <button type='button' class='btn btn-success'>Success</button>
            <button type='button' class='btn btn-info'>Info</button>
            <button type='button' class='btn btn-warning'>Warning</button>
            <button type='button' class='btn btn-danger'>Danger</button>
            <button type='button' class='btn btn-link'>Link</button>
        </div>
        <div class='col-6'>
            <h2>Enlaces e inputs como botones</h2>
            <a href="" class='btn btn-primary'>Enlace</a>
            <button class='btn btn-primary'>Botón</button>
            <input class='btn btn-primary' type="button" v class='btn btn-primary' value='input-button'>
            <input class='btn btn-primary' type="submit" value='submit'>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-6">
            <h2>Botones outline</h2>
            <button type='button' class='btn btn-outline-primary'>Primary</button>
            <button type='button' class='btn btn-outline-secondary'>Secondary</button>
            <button type='button' class='btn btn-outline-success'>Success</button>
            <button type='button' class='btn btn-outline-info'>Info</button>
            <button type='button' class='btn btn-outline-warning'>Warning</button>
            <button type='button' class='btn btn-outline-danger'>Danger</button>
            <button type='button' class='btn btn-outline-link'>Link</button>
        </div>
        <div class='col-6'>
            <h2>Botones tamaño</h2>
            <button class='btn btn-primary btn-lg'>Button large</button>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-6">
            <h2>Botones bloque</h2>
            <button type='button' class='btn btn-outline-primary btn-block'>Block button</button>
        </div>
        <div class='col-6'>
            <h2>Botones disable</h2>
            <button class='btn btn-primary btn-lg disabled'>Disabled button</button>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-6">
            <h2>Checkbox</h2>
            <hr>
            <div class='btn-group btn-group-toggle' data-toggle='buttons'>
                <label class='btn btn-primary'>
                <input type="checkbox" name='' id='' autocomplete="off">Checkbox1
              </label>
                <label class='btn btn-primary active'>
                <input type="checkbox" name='' id='' autocomplete="off">Checkbox2
              </label>
                <label class='btn btn-primary'>
                <input type="checkbox" name='' id='' autocomplete="off">Checkbox3
              </label>
            </div>
        </div>
        <div class='col-6'>
            <h2>Radio</h2>
            <hr>
            <div class='btn-group btn-group-toggle' data-toggle='buttons'>
                <label class='btn btn-primary'>
              <input type="radio" name='sexo' id='' autocomplete="off">Hombre
            </label>
                <label class='btn btn-primary'>
              <input type="checkbox" name='sexo' id='' autocomplete="off">Mujer
            </label>
            </div>
        </div>
    </div>
    <div class='row pt-3'>
        <div class='col-6'>
            <h4>Buttons group</h4>
            <hr>
            <div class='btn-group'>
                <button class='btn btn-secondary'>1</button>
                <button class='btn btn-secondary'>2</button>
                <button class='btn btn-secondary'>3</button>
            </div>
        </div>
        <div class='col-6' role="toolbar">
            <h4>Buttons toolbar</h4>
            <hr>
            <div class='btn-toolbar'>
                <button class='btn btn-secondary'>A</button>
                <button class='btn btn-secondary'>B</button>
                <button class='btn btn-secondary'>C</button>
            </div>
        </div>
    </div>
    <div class='row pt-3'>
        <div class='col-6'>
            <h4>Buttons group vertical</h4>
            <hr>
            <div class='btn-group-vertical'>
                <button class='btn btn-secondary'>1</button>
                <button class='btn btn-secondary'>2</button>
                <button class='btn btn-secondary'>3</button>
            </div>
        </div>
    </div>
</div>