<div class="container">
    <div class="row">
        <div class="col-12 mb-5">
            <button [routerLink]="['/principal',5]" routerLinkActive="router-link-active">PRINCIPAL</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <nav class='nav nav-tabs bg-dark'>
                <a class='nav-link' href="">Blog</a>
                <a class='nav-link' href="">More</a>
                <a class='nav-link' href="">About us</a>
            </nav>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <nav class='nav nav-pills bg-dark'>
                <a class='nav-link' href="">Blog</a>
                <a class='nav-link' href="">More</a>
                <a class='nav-link' href="">About us</a>
            </nav>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <ul class='nav nav-pills nav-fill bg-dark'>
                <li class='nav-item dropdown'>
                    <a href="" class='nav-link dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup="true" aria-expanded="false">Blog </a>
                    <div class="dropdown-menu">
                        <a class='dropdown-item' href="">About the light</a>
                        <a class='dropdown-item' href="">About the dark</a>
                    </div>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href="">More</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href="">About us</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <ul class='nav nav-tabs'>
                <li class='nav-item'>
                    <a href="#tab1" class='nav-link' data-toggle='tab'>tab A</a>
                </li>
                <li class='nav-item'>
                    <a href="#tab2" class='nav-link' data-toggle='tab'>tab B</a>
                </li>
                <li class='nav-item'>
                    <a href="#tab3" class='nav-link' data-toggle='tab'>tab C</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane mt-3" id='tab1' role='tab-panel'>
                    <h3>Panel1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, dolores numquam debitis sunt provident asperiores nam voluptatem saepe adipisci possimus corrupti tenetur exercitationem optio consequatur eos deleniti dignissimos quas
                        est?
                    </p>
                </div>
                <div class="tab-pane mt-3" id='tab2' role='tab-panel'>
                    <h3>Panel2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, dolores numquam debitis sunt provident asperiores nam voluptatem saepe adipisci possimus corrupti tenetur exercitationem optio consequatur eos deleniti dignissimos quas
                        est?
                    </p>
                </div>
                <div class="tab-pane mt-3" id='tab3' role='tab-panel'>
                    <h3>Panel3</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, dolores numquam debitis sunt provident asperiores nam voluptatem saepe adipisci possimus corrupti tenetur exercitationem optio consequatur eos deleniti dignissimos quas
                        est?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>