<div class="container">
    <div class="row">
        <div class="col-12 mb-5">
            <button [routerLink]="['/principal',4]" routerLinkActive="router-link-active">PRINCIPAL</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="">
                <div class='form-group'>
                    <input type="text" class='form-control' name='nombre' id='nombre' placeholder="Nombre">
                    <p id='' class='form-text text-muted'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam sequi animi natus minus incidunt nobis pariatur, corrupti accusamus laudantium neque ab vero nesciunt hic ut, in, explicabo maxime molestias. Cumque.</p>
                </div>
                <div class='form-group'>
                    <input type="email" class='form-control' name='correo' id='correo' placeholder="Correo">
                    <small id='' class='form-text text-muted'>MAX 20 CARACTERES</small>
                </div>
            </form>

        </div>
    </div>
</div>