<button [routerLink]="['/principal',2]" routerLinkActive="router-link-active">PRINCIPAL</button>

<div class="container fluid">
    <div class="row no-gutters ">
        <div class="col-6 ">
            <img class='img-fluid float-right rounded img-thumbnail' src="https://picsum.photos/200/200" alt="">
            <img class='img-fluid float-left rounded img-thumbnail' src="https://picsum.photos/200/200" alt="">
        </div>
        <div class="col-12">
            <hr>
            <figure class='figure'><img class='img-fluid rounded ' src="https://picsum.photos/400/400" alt=""></figure>
            <figcaption class='figure-caption'>
                <p class='center'>Imagen aleatoria proporcionada por picsum</p>
            </figcaption>
        </div>
    </div>
</div>