<button [routerLink]="['/principal',4]" routerLinkActive="router-link-active">PRINCIPAL</button>

<div class="container">
    <div class="row">
        <div class="col-12 mb-2">
            <div class="input-group">
                <div class='input-group-prepend'>
                    <span class="input-group-text">Nombre</span>
                </div>
                <input class='form-control' type="text">
            </div>
        </div>
        <div class="col-12 mb-2">
            <div class="input-group">
                <input class='form-control' type="email">
                <div class='input-group-append'>
                    <span class="input-group-text">Correo@</span>
                </div>
            </div>
        </div>
        <div class="col-12 ">
            <div class="input-group">
                <input class='form-control' type="email" id='buscar'>
                <div class='input-group-append'>
                    <button class='btn btn-secondary'>Buscar</button>
                </div>
            </div>
        </div>
    </div>
</div>