<button [routerLink]="['/principal',4]" routerLinkActive="router-link-active">PRINCIPAL</button>

<div class="container">
    <div class="row mt-3">
        <div class="col-12">
            <form action="">
                <div class='form-group'>
                    <label for="nombre">Nombre</label>
                    <input class='form-control' type="text" placeholder="nombre" id="nombre" name="nombre">
                </div>
                <div class='form-group'>
                    <label for="password">Password</label>
                    <input class='form-control' type="password" placeholder="password" id="password" name="password">
                </div>
                <div class='form-group'>
                    <label for="password">Mensaje</label>
                    <textarea class='form-control' name="mensaje" id="mensaje"></textarea>
                </div>
                <div class='form-group'>
                    <label for="pais">Pais</label>
                    <select name="pais" id="pais" class='form-control'>
                    <option value="butan">Butan</option>
                    <option value="camboya">Camboya</option>
                    <option value="vietnam">Vietnam</option>
                  </select>
                </div>
                <div class='btn-group'>
                    <div class='form-check'>
                        <label class='form-check-label mr-2'>
                      <input type="radio" class='form-check-input mr-2'name='sexo' id='hombre'>Hombre
                    </label>
                    </div>
                    <div class='form-check'>
                        <label class='form-check-label'>
                    <input type="radio" class='form-check-input mr-2' name='sexo' id='mujer'>Mujer
                  </label>
                    </div>
                </div>
                <div class='mt-2 text-center'>
                    <a class='mb3' href="">Terminos</a>
                    <div class='form-check '>
                        <label class='form-check-label'>
                    <input type="checkbox" class='form-check-input mr-2' name='sexo' id='mujer'>Acepto
                  </label>
                    </div>
                </div>
                <button class='btn btn-primary btn-block mt-3' type='submit'>Enviar</button>
            </form>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <hr>
            <form action="" class='form-inline'>
                <div class='form-group mr-3'>
                    <input class='form-control mr-3' type="text" placeholder="nombre" id="nombre" name="nombre">
                    <input class='form-control mr-3' type="password" placeholder="password" id="password" name="password">
                    <div class='form-check '>
                        <label class='form-check-label'>
                        <input type="checkbox" class='form-check-input mr-2' name='sexo' id='mujer'>Recuérdame
                      </label>
                    </div>
                    <button class='btn btn-primary ml-3 ' type='submit'>LOGIN</button>
                </div>
            </form>
        </div>
    </div>
</div>