<button [routerLink]="['/principal',2]" routerLinkActive="router-link-active">PRINCIPAL</button>

<div class="container">
    <div class="row">
        <div class="col-6 mb-3">
            <h1>Encabezado h1 <span class='badge badge-pill  badge-primary'>Badge</span></h1>
            <h2>Encabezado h2 <span class='badge badge-pill  badge-secondary'>Badge</span></h2>
            <h3>Encabezado h3 <span class='badge badge-pill  badge-success'>Badge</span></h3>
            <h4>Encabezado h4 <span class='badge badge-pill  badge-danger'>Badge</span></h4>
            <h5>Encabezado h5 <span class='badge badge-dark'>Badge</span></h5>
            <h6>Encabezado h6 <span class='badge badge-info'>Badge</span></h6>
        </div>
        <div class='col mb-3'>
            <button class='btn btn-dark mb-3'>
                Notificaciones <span class='badge badge-info'>20</span>
            </button>
        </div>
    </div>
</div>